<div class="container">
  <h2>Nós <i class="fa fa-heart"></i> Ensinar, Então fale Conosco!</h2>
  <center>
    <%= render 'contacts/form' %>
  </center>

  <ul class="list-inline list-social">
    
    <li class="list-inline-item social-twitter">
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    
    <li class="list-inline-item social-facebook">
      <a href="#">
        <i class="fa fa-facebook-f"></i>
      </a>
    </li>
    
    <li class="list-inline-item social-google-plus">
      <a href="#">
        <i class="fa fa-google-plus-g"></i>
      </a>
    </li>
  </ul>
</div>
